
/*==========================================BODY-BACKGROUND====================================*/
body { 

  background-color: #0b0d12;

  background-image:
    /* RED DOT GRID */
    radial-gradient(
      rgba(134, 45, 131, 0.302) 9px, /* rgba 255, 60, 90, 0.18 */
      transparent 0.9px
    ),

    /* GREEN DOT GRID */
    radial-gradient(
      rgba(39, 167, 109, 0.18) 2px,
      transparent 1px
    );

  background-size:
    18px 18px,
    18px 18px;

  /* grid spacing for both dot layers */
  background-position:
    0 0,
    50% 50%;

  /* overlap perfectly */
  background-repeat: repeat;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow-x: hidden;
 
}



/*==========================================TEXT-BACKGROUND====================================*/
.text-bg { 
  display: inline-block;
  background-color: rgba(113, 43, 43, 0.75);
  padding: 12px 18px;
  border-radius: 12px;
  margin-right: 70px;
  margin-top: 0.3%;
  margin-left: 0.5%;
  margin-bottom: 1.5%;
  
  border: #cf14dc 2px solid;
  width: auto;
  max-width: 100%;
}

/*==========================================MINI-GAME====================================*/
#mini-game {
  width: 320px;
  height: 320px;
  background: rgba(0,0,0,0.75);
  border: 1px solid rgba(255,60,90,0.4);
  border-radius: 14px;
  padding: 14px;
  color: #fff;
  font-family: system-ui, sans-serif;
}

.game-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.game-area {
  position: relative;
  width: 100%;
  height: 200px;
  background: #0b0d12;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.target {
  position: absolute;
  width: 32px;
  height: 32px;
  background: #ff3c5a;
  border-radius: 6px;
  cursor: pointer;
  display: none;
}

#startBtn {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: rgba(255,60,90,0.8);
  color: white;
  font-weight: 600;
  cursor: pointer;
}


/*==========================================FONT====================================*/

 h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: clamp(18px, 5vw, 28px);
  font-style: normal;
}



p {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 17px;
  word-break: break-word;
}







/*==========================================DEBUGGING====================================*/


@media (max-width: 768px) {

  body {
    flex-direction: column; 
    align-items: center;
  }

  .text-bg {
    margin: 16px;
    max-width: 95%;
  }

  #mini-game {
    width: 90%;
    max-width: 320px;
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  p {
    font-size: 12px;
  }
}


